{% extends 'base.html' %}
{% load static %}

{% block head %}

<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>

<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/monkeys/monkey-detail.css' %}"
/>

<script defer src="{% static 'js/monkey-detail.js' %}"></script>

{% endblock %}

{% block content %}

<section class="monkey-container">
  <div class="monkey-img">
    <img 
    src="{% static 'images/monkey-cowboy-small.png' %}" 
    alt="My cutie pie"
    >
  </div>
  <div class="monkey-details">
    <h1>{{ monkey.name }}</h1>
    {% if monkey.age > 0 %}
      <h2>A {{ monkey.age }} year old {{ monkey.breed }}</h2>
    {% else %}
      <h2>A {{ monkey.breed }} kitten.</h2>
    {% endif %}
    <p>{{ monkey.description }}</p>
    {% comment %} New markup {% endcomment %}
    <div class="monkey-actions">
      <a href="{% url 'monkey-update' monkey.id %}" class="btn warn">Edit</a>
      <a href="{% url 'monkey-delete' monkey.id %}" class="btn danger">Delete</a>
    </div>
    {% comment %} New markup above {% endcomment %}
  </div>
</section>

{% comment %} RENAMED!! {% endcomment %}
<div class="brushings-accessory-container">
  {% comment %} RENAMED!! {% endcomment %}
  <section class="brushings">
    <div class="subsection-title">
      <h2>Brushings</h2>
      <img 
        src="{% static 'images/hairbrush-small.png' %}" 
        alt="hairbrush"
        height="50px"
      />
      <img 
        src="{% static 'images/hairbrush-small.png' %}" 
        alt="hairbrush"
        height="50px"
      />
      <img 
        src="{% static 'images/hairbrush-small.png' %}" 
        alt="hairbrush"
        height="50px"
      />
    </div>

    <h3>Add a Brushing</h3>
    <form
      action="{% url 'add-brushing' monkey.id %}" 
      method="post" 
      class="subsection-content"
			autocomplete="off"
    >
      {% csrf_token %}

      {% if monkey.brushed_for_today %}
        <p class="brushed">{{monkey.name}} has been brushed to maximum suavecito today!</p>
      {% else %}
        <p class="unbrushed">{{monkey.name}} might be a hairy mess right now!</p>
      {% endif %}

      {{ brushing_form.as_p }}
      <button type="submit" class="btn submit">Add Brushing</button>
    </form>


    <h3>Past Brushings</h3>
    {% if monkey.brushing_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Brushing</th></tr>
        </thead>
        <tbody>
            {% comment %} RENAMED!! {% endcomment %}
            {% for brushing in monkey.brushing_set.all %}
            <tr>
              {% comment %} RENAMED!! {% endcomment %}
              <td>{{brushing.date}}</td>
              {% comment %} RENAMED!! {% endcomment %}
              <td>{{brushing.get_brushing_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>{{monkey.name}} has never been brushed 😔</p>
      </div>
    {% endif %}
  </section>
</div>


{% endblock %} 