{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container">
  <div class="monkey-container">
    <img
      src="{% static 'images/monkey-cowboy.png' %}"
      alt="The House Monkey mascot" 
      width="400px"
    />
  </div>
  <img 
    src="{% static 'images/monkey-cowboy-small.png' %}" 
    alt="Text previously read: Cat Collector (I should replace this!)"
    />
  </section>
  
  {% comment %} PART 7 - AUTH {% endcomment %}
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
  
  {% endblock %}